/*
Palette
#211A44
#5C5792
#9F8DC3 #78659e
#BE9CC7
#E3BAD5
*/
/* Global Styling */
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #f7ebf3, #E3BAD5);
    margin: 0;
    padding: 0;
    color: #78659e;
}

/* Header Styling */
header {
    background: white;
    background-image: url('../icons/nuage-header.webp'); /* Lien vers l'image */
    background-size: cover; /* Adapte l'image à la taille du header */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 1rem;
    letter-spacing: 1.2px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Nav Bar Styling */
nav {
    display: flex;
    justify-content: space-between; /* Répartit les sections horizontalement */
    align-items: flex-start; /* Aligne les éléments en haut */
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    gap: 10px; /* Espace entre les sections */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%; /* Utiliser toute la largeur */
    justify-content: space-between; /* Séparer les sections */
}

/*Positionnement boutons barre de navigation */
.nav-section.left {
    display: flex;
    gap: 20px;
    justify-content: flex-start; 
}

li {
    display: inline;
}

.mandatory {
    color: #c00;
}

nav h2 {
    color: #78659e;
    font-size: 1rem; /* Uniformiser la taille des titres */
    margin-bottom: 10px;
    font-weight: bold;
}

nav a {
    display: block;
    color: #78659e;
    text-decoration: none;
    font-size: 1rem;
    margin: 5px 0;
    padding: 8px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 50px;
}

/*navigation bouton quand appuyé*/
nav a:hover {
    background-color: #9F8DC3;
    color: white;
}

/* Main Content */
section {
    width: 90%; /* Largeur relative pour le rendre responsive */
    max-width: 1200px; /* Largeur maximale */
    margin: 40px auto;
    padding: 20px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    background-color: rgba(255, 255, 255, 0.6);
}

/* Footer Styling */
footer {
    background-color: #BE9CC7;
    background-image: url('../icons/nuage-header.webp'); /* Lien vers l'image */
    background-size: cover; /* Adapte l'image à la taille du header */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    color: #5C5792;
    text-align: center;
    padding: 10px 0;
    font-size: 1rem;
    margin-top: 50px;
}
